<h1>Dashboards#show</h1>

<%= form_for @shout do |form| %>
  <%= form.fields_for :content do |content_for| %>
  	<%= content_for.text_field :body, placeholder: "shout here!", required: true %>
  <% end %>
  <%= form.submit "Shoult" %>
<% end %>

<%= render @shouts %>
